@model Estacionamento.MVC.ViewModel.RegistroViewModel

    @{
        Html.RenderPartial("_HeaderNavBar");
    }

<main>
<h1>Bem vindo ao Tsukar</h1>

<form id="#formulario" action="Registro/Registrar" method="POST">
    <label>
        Nome
        <input type="text" name="nome">
    </label>
    <br>
    <br>
    <label>
        Placa do carro
        <input type="text" name="placa">
    </label>
    <br>
    <br>
    <label>
        Data Entrada
        <input type="date" name="dataDeEntrada">
    </label>
    <div class="double-field">
    <br>
        <div>
            <label for="marca">Marca</label>
            <select id="marca" name="marca" required>
                <option value="" disabled selected>Selecione</option>
                @foreach (var marca in Model.Marcas)
                {
                    <option value="@marca.Marca">@marca.Marca</option>
                }
            </select>
        </div>
        <div>
    <br>
            <label for="modelo">Modelo</label>
            <select id="modelo" name="modelo">
                <option value="" disabled selected>Selecione</option>
                @foreach (var modelo in Model.Modelos)
                {
                    <option value="@modelo.Modelo">@modelo.Modelo</option>
                }
            </select>
        </div>
    </div>
    <br>
    <input type="submit" value="Cadastrar">
</form>
</main>