
<nav>
        <div class="section-container">
            <ul>
                 <li><a href='@Url.Action("Index", "Registro")'>Cadastrar</a></li>
                 <li><a id="bt-historico" asp-controller="Listar" asp-action="Index">Listar</a></li>             
            </ul>
        </div>
</nav>
