<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Agora Var - Tsukar</title>
    <link href="~css/site.css" rel="stylesheet" type="text/css">
</head>
<body class="flex-container">

     @RenderBody()
    
    <footer id="#footer">
        <div class="footer-container">
            <address>
               Avenida Raimundo Pereira de Magalhães - SP 
                <br />
                Tsukar@email.com
                <br />
                11 1234 6789
            </address>
            <a href="#">Voltar para o topo!</a>
        </div>
    </footer>
</body>
</html>
